<li class="favorite-post{{id}} favorite-post">
  <div class="favorite-content">
      <a href="/posts/{{id}}">{{title}}</a>
      |
      <a href="/favorites/{{id}}" class="remove" data-remote="true" data-method="delete">remove</a>
    <p>{{body}}</p>
  </div>
</li>
