<div class="profile-show">
  <h1>Profile</h1>

  <div class="profile-row avatar">
    <%= image_tag @user.avatar.url :user%>
  </div>

  <div class="profile-row">
    <h2>Email: <span><%= @user.email%></span></h2>
  </div>

  <div class="profile-row">
    <h2>Username: <span><%= @user.username %></span></h2>
  </div>

  <div class="profile-row">
    <h2>Role: <span><%= @user.role %></span></h2>
  </div>

  <div class="rating-container" data-init="ratings">
    <div class="rating-average profile-row">
      <h2>Average rating: <span><%= @user.calculate_average %></span></h2>
    </div>
    <% if user_signed_in? && current_user != @user %>
    <div class="rating-inputs">
      <% if @rated_by_current.blank? %>
        <%= render "ratings/form", user: @user %>
      <% else %>
        <%= render @rated_by_current, user: @user %>
      <% end %>
    </div>
    <% end %>
  </div>

  <div class="profile-links">
    <%= link_to "Edit", edit_user_path, class: "btn btn-outline-primary" if access?(@user) %>
    <%= link_to "Delete user", user_path(@user), method: :delete, class: "btn btn-outline-secondary" if user_signed_in? && current_user.admin? && current_user != @user %>
  </div>
</div>
