<%= form_for @post do |f| %>
<%= render "shared/errors", object: @post %>

<div class="form-group">
    <%= image_tag(@post.image.url(:post_thumb), class: "img-thumbnail") %>
    <%= f.file_field :image, class: "form-control-file" %>
    <%= f.hidden_field :image_cache %>
</div>

<div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
    <%= f.label :adress %>
    <%= f.text_field :adress, class: "form-control" %>
</div>

<div class="form-group">
    <%= text_field_tag "tag-field" %>
    <%= link_to "Create new tag", "" ,  class:"btn btn-outline-primary", id: "tag-link" %>
    <%= f.hidden_field :current_tags %>
<div class="dropdown">
      <button class="btn btn-default dropdown-toggle all-tags" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown with selection
      </button>
      <ul class="dropdown-menu all-tags" aria-labelledby="dropdownMenu2">
        <% Tag.all.map(&:name).map do |t| %>
          <li><input type="checkbox"><%= t %></li>
        <% end %>
      </ul>
    </div>
</div>

<div class="current-tags">
    <% @post.current_tags.split(",").map do |t| %>
      <span class="badge badge-pill badge-primary tag"><%= t %></span>
    <% end %>
</div>


<div class="form-group">
    <%= f.label :body %>
    <%= f.text_area :body, class: "form-control", rows: "10" %>
</div>

<div class="form-group">
    <%= f.submit "Save", class: "btn btn-outline-primary" %>
    <%= link_to "Back", :back, class: "btn btn-outline-secondary" %>
</div>
<% end %>
