<article class="post">
  <section class="post-head">
    <h2><%= link_to post.title, post_path(post) %></h2>
    <small>
      <%= link_to post.user.username, user_path(post.user) %>
      <time><%= post.created_at.to_date %></time>
    </small>
    <div class="adress">
      <span>Adress: <%= post.adress %></span>
    </div>
    <div class="favorite-link-<%=post.id%>">
      <% if post.favorites.find_by(user: current_user).blank? %>
        <%= link_to "Add to favorites", favorites_path(id: post.id), method: :post, remote: true %>
      <% else %>
        <%= link_to "Remove from favorites", favorite_path(post), method: :delete, remote: true %>
      <% end %>
    </div>
  </section>
  <section class="post-body clearfix">
    <%= image_tag(post.image.url(:post_thumb), class: "img-thumbnail thumb") %>
    <%= truncate(post.body, length: 160, separator: ' ') %>
  </section>
  <section>
    <%= raw post.tags.map(&:name).map{ |t| link_to t, tag_path(t), class: "badge badge-pill badge-primary" }.join %>
  </section>
</article>
