<article class="post-show" data-post-id="<%=@post.id%>" data-init="comments">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <div class="favorite-link-container-<%=@post.id%>">
      <%= render 'favorites/links', post: @post %>
    </div>
    <div class="post-info">
      <div class="info-top">
        <span>Posted by</span>
        <%= link_to @post.user.username, user_path(@post.user) %>
        <time><%= @post.created_at.to_date %></time>
        <% if access?(@post.user) %>
          <strong class="links">
            <%= link_to "Edit", edit_post_path(@post) %>
            |
            <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure ?"} %>
          </strong>
        <% end %>
      </div>
      <div class="info-bottom">
        <h3>Adress: <span><%= @post.adress %></span></h3>
        <h3>Status: <span><%= @post.status %></span></h3>
      <div class="tags">
          <%= render "tags/tags", tags: @post.tags.map(&:name) %>
        </div>
      </div>
    </div>
  </section>
  <section class="post-body">
    <%= image_tag(@post.image.url(:post), class: "image-show") %>
    <p><%= @post.body %></p>
  </section>
</article>

<div class="comments">
  <div class="comments-form"></div>
  <div class="new-comment-btn">
      <%= link_to "New Comment", new_post_comment_path(@post), remote: true, class: "btn btn-outline-primary" if user_signed_in? %>
  </div>
  <div class="comments-content">
    <%= render @post.comments.order("created_at DESC") %>
  </div>
</div>
