
<article class="post">
  <section class="post-head">
    <h1><%= @post.title %></h1>
    <%= render 'favorites/links', post: @post %>
    <small>
      <%= link_to @post.user.username, user_path(@post.user) %>
      <time><%= @post.created_at.to_date %></time>
      <% if has_access(@post.user) %>
        <%= link_to "Edit", edit_post_path(@post) %>
        |
        <%= link_to "Delete", post_path(@post), method: :delete, data: {confirm: "Are you sure ?"} %>
      <% end %>
    </small>
    <div class="post-tags">
      <%= render "tags/tags", tags: @post.tags.map(&:name) %>
    </div>
    <div class="adress">
      <span>Adress: </span>
      <%= @post.adress %>
    </div>
  </section>
  <section class="post-body">
    <%= image_tag(@post.image.url(:post), class: "image-show") %>
    <p><%= @post.body %></p>
  </section>
</article>

<div class="comments">
  <div class="comments-form"></div>
  <div class="new-comment-btn">
      <%= link_to "New Comment", new_post_comment_path(@post), remote: true, class: "btn btn-outline-primary" if user_signed_in? %>
  </div>
  <div class="comments-content">
    <%= render @post.comments.order("created_at DESC") %>
  </div>
</div>
