<!DOCTYPE html>
<html>
  <head>
    <title>Board</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'comment' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "All Posts", posts_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "New Post", new_post_path, class: "nav-link" %>
          </li>
          <% if user_signed_in? %>
          <li class="nav-item dropdown favorites" id="favorite-posts">
              <a class="nav-link dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                My favorite posts
              </a>
              <ul class="dropdown-menu favorite-posts pre-scrollable" aria-labelledby="dropdownMenuLink">
                <!-- FAV POSTS HERE -->
              </ul>
          </li>
          <li class="nav-item">
            <%= link_to "User list", users_path, class: "nav-link" if current_user.admin? %>
          </li>
          <% end %>
          </ul>
          <div class="navbar-nav mr-1 search">
            <%= form_tag posts_path, method: :get, class: "form-inline" do %>
            <%= text_field_tag :keywords, params[:keywords], class: "form-control mr-1 py-1" %>
            <%= submit_tag "Search" %>
            <% end %>
          </div>
          <ul class="navbar-nav">
            <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "Profile", user_path(current_user), class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
            </li>
            <% else %>
            <li class="nav-item">
              <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to "Log In", new_user_session_path, class: "nav-link" %>
            </li>
            <% end %>
          </ul>
      </nav>
    </div>

    <div class="container main-content">
      <div id="flash">
        <%= render "shared/flash" %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
